.modalOneButton{

  :global{
    .ant-modal-footer .ant-btn.ant-btn-primary {
      display:none;
    }
  }
}
.ordersFull{

  margin: 20px auto;
  padding: 10px 20px;
  @media (min-width: 640px){
    max-width: 850px;
  }
}
@base:{
  width:25%;
  float:left;

};
.productsHeader{
    overflow: auto;
    // border-bottom-style: solid;
    // border-width: 0.2px;
}
.printer{
  margin-top: 20px;
  text-align: center;
}
.pagination{

  padding: 20px;
  text-align: center;
}
.totalRevenue{
  text-align: center;
    :global{
      .ant-typography{
        font-size:30px;
        @media(max-width:640px){
          font-size:20px;
        }
      }
    }
  }


.table{
  :global{
    .ant-table-wrapper{
      @media(min-width:640px){
          width:80%;
          margin-left:10%;
        }
    }
  }
}
.button{
  @media(min-width:640px){
    margin-left:10%;
  }
  margin-top:20px;
  margin-bottom:20px;

}
.lists{
  :global{
    .ant-spin-container {
      @media(min-width:640px){
        margin-left:5%;
        width:90%;
      }
    }
  }
}
